@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BrickDisplayPro";
  src: url(../public/fonts/BrickDisplayPro-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "SuisseIntl";
  src: url(../public/fonts/SuisseIntl-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SuisseIntl";
  src: url(../public/fonts/SuisseIntl-Medium.otf) format("opentype");
  font-weight: 500;
  /* src: url(../public/fonts/SuisseIntl-Medium.woff2) */
}

@layer base {
  :root {
    --font-body: "SuisseIntl";
    --font-heading: "BrickDisplayPro";
    --cream: #fceee5;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-body bg-yellow text-brown antialiased;
  }

  main {
    @apply flex flex-col grow;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  section {
    @apply py-16 md:py-24 w-full;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee:hover .marquee-item {
  animation-play-state: paused;
}

.marquee-item {
  animation: 70s slide infinite linear;
}

@media (max-width: 640px) {
  .marquee-item {
    animation: 15s slide infinite linear;
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee-item {
    animation: none;
  }
}
